/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

p {
  margin: 0; 
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
}

/* Colours */

:root {
  --darkblue: #110D78;
  --lightpink: #FB86F1;
  --goldenyellow: #FBC51A;
  --offwhite: #FCFCFC;
}

/* Base */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--offwhite);
  font-family: 'Padauk', sans-serif;
}

body {
  background-color: var(--darkblue);
}

/* Navbar */

.nav-container {
  width: 100%;
  background-color: var(--darkblue);
}

.nav-item:hover {
  color: var(--goldenyellow);
  transition: all 0.2s ease-out;
}

.nav-item a {
  color: var(--offwhite);
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--goldenyellow);
  transition: all 0.3s ease-in-out;
}

#title {
  text-align: center;
}

.nav-item .nav-item-btn {
  background-color: var(--lightpink);
  color: var(--darkblue);
  border-radius: 30px;
  border-style: none;
  padding: 1rem 3rem 1rem 3rem;
}

.nav-item  .nav-item-btn:hover {
  background-color: transparent;
  transition: all 0.3s ease-out;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-out;
  background: var(--offwhite);
}

@media only screen and (max-width: 758px) {
  .nav-container {
    position: relative;
  }

  .nav {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #title {
    /* opacity: 0; */
  }
  .nav-item {
    margin-bottom: 2rem;
  }

  .nav.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}

/* Tagline */

.left-side {
  text-align: left;
}

.left-side span {
  color: var(--goldenyellow);
}

.right-side {
  text-align: right;
}

.right-side span {
  color: var(--lightpink);
}

.tagline {
  margin-top: 10rem;
}

.tagline h2{
  font-size: 4rem;
}
